<div class="sidebar-frame">
    <sbb-icon-sidebar-container>
      <sbb-icon-sidebar [(expanded)]="expanded" [position]="position.value">
        <a sbbIconSidebarItem label="Controls" routerLink="/controls" routerLinkActive="sbb-active">
          <sbb-icon svgIcon="controls-small"></sbb-icon>
        </a>
        <a sbbIconSidebarItem label="Map" routerLink="/map" routerLinkActive="sbb-active">
          <sbb-icon svgIcon="wheelchair-sector-location-small"></sbb-icon>
        </a> 
        <a sbbIconSidebarItem label="Navigate" routerLink="/navigate" routerLinkActive="sbb-active">
          <sbb-icon svgIcon="arrow-compass-small"></sbb-icon>
        </a>
      </sbb-icon-sidebar>
      <sbb-icon-sidebar-content role="Map">  
        <router-outlet></router-outlet>
      </sbb-icon-sidebar-content>
    </sbb-icon-sidebar-container>
  </div>
  
  <h4>Properties</h4>
  <div class="sbb-checkbox-group-vertical">
    <sbb-form-field label="Sidebar position">
      <sbb-select [formControl]="position" placeholder="Position" labe>
        <sbb-option value="start">Start</sbb-option>
        <sbb-option value="end">End</sbb-option>
      </sbb-select>
    </sbb-form-field>
    <sbb-checkbox [(ngModel)]="expanded" [disabled]="simulateMobile.value"
      >Expand Icon Menu</sbb-checkbox
    >
    <sbb-checkbox [formControl]="simulateMobile">Simulate Mobile View</sbb-checkbox>
  </div>

